@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lobster&display=swap');

body {
  font-family: 'Arvo', serif;
}

// HEADER

.header {
  background-color: #fafafa;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  .hero-head {
    margin: 40px auto;
  }
}
.low {
  color: red;
}

// LANDING PAGE

.landing-page {
  display: flex;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: auto;
  background-image: url('https://image.freepik.com/free-vector/cinema-sketch-collection-hand-drawn-illustrations-movie-film-elements-sketch-style-posters-banners-flyers-advertising-billboards-3d-glasses-popcorn-movie-tickets_106796-219.jpg');
  background-size: contain;
  background-repeat: repeat-y;
  background-position: center;
  .landing-page-text {
    .box {
      text-align: center;
    }
  }
  .container {
    margin-bottom: 100px;
  }
}

// QUESTION CARD

.input {
  width: 100%;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

form {
  max-width: 900px;
  margin: 0 auto;
  .main {
    padding: 20px auto;
  }
}

.level {
  span {
    margin-left: 5px;
    font-weight: bold;
  }
}

.control {
  margin-top: 10px;
}

.notification {
  margin: 5px;
}

// BUTTONS

.controls {
  display: flex;
  justify-content: space-around;
  .button {
    margin-top: 5px;
    width: 150px;
  }
}

.button {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

// PROGRESS BAR

.progress {
  margin: 15px 15px 15px 0px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

// LOADING SPINNER

.loader-wrapper {
  position: relative;
  top: 10px;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 2;
  .loader {
      height: 80px;
      width: 80px;
  }
}

// FOOTER

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 754px) {

  .score, .lives {
    margin: auto;
  }

}